* {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  background: #f0f0f5;
  color: #13131a;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.box_register {
  display: flex;
  width: 928px;
  height: 385px;
  box-shadow: 0px 0px 20px #13131a32;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: 100px;
  padding: 96px;
  justify-content: space-between;
}

.box_register section {
  display: flex;
  left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
