* {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  background: #f0f0f5;
  color: #13131a;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  gap: 80px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.home_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container section form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  align-content: space-around;
  gap: 6px;
}
.link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.error {
  display: flex;
  flex-direction: column;
  color: #e02041;
  font-weight: 400;
  font-size: 12px;
  margin: 4px;
}

.float_label {
  display: flex;
  flex-direction: column;
  position: relative;
}


.float_label:focus-within label {
  transform: translate(0, 0) scale(0.7);
}
